.containerBookUnit{
    display: flex;
    flex-wrap: wrap;
    width: 10.5rem;
    max-height: 17.75rem;
    padding: 15px;
    overflow: hidden;
    margin: 10px auto;
    border: solid 1px #ccc;
}
.bookUnitImg,
.textContainerBookUnit,
.btnContainer{
    width: 90%;
    margin:auto;
}
.textContainerBookUnit{
    display: flex;
    justify-content: space-between;
}
.bookUnitImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13.625rem;
    overflow: hidden;
}
.bookUnitImg img {
    width: 100%;
    height: auto;
}
.name,
.price{
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}
.stock{
    color: #6e6e6e;
}
.btnContainer{
    display: block;
    height: 25px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 0;
    transition: background-color .2s ease-in-out;
    background-color: hsl(228,85%,58%);
    border-radius: 10px;
}
.btnContainer button{
    background:none;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: .90rem;
    transition: color .2s ease-in-out;
}
.btnContainer:hover{
    background-color: hsl(228,85%,48%);
    transition: background-color .2s ease-in-out;
}