.headerContainer,
.headerContainerV2{
    margin-bottom: 10px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    border: #f1f1f1 solid 1px;
}
.headerContainerV2{
    background: none;
    border: none;
    border-bottom: #111 solid 2px;
    height: 50px;
}
.item,
.itemV2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 100%;
}
.item{
    padding: 10px;
    margin: 0 20px;
}
.itemV2{
    width: 33.33%;
}
.darkBackgroundEffect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    z-index: -1;
    transition: background .1s ease-in-out;
}
.itemV2:hover .darkBackgroundEffect{
    background: #8d8d8d;
    opacity: .2;
    transition: background .1s ease-in-out;
}
.itemV2:hover{
    background-color: transparent;
}
.navLink,
.navLinkV2{
    display: flex;
    height: 100%;
    width: 100%;
    color: hsl(228,85%,65%);
    text-decoration: none;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: color .2s ease-in-out;
}
.navLinkV2{
    color: #111;
    font-size: 1rem;
}
.navLink:hover{
    color: hsl(228,85%,40%);
    transition: all .2s ease-in-out;
}
.active{
    color: hsl(228,85%,30%);
}