.header{
    position: relative;
    margin: auto;
    width: 95%;
    height:100%;
    overflow: hidden;
  }
  .navbar{
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    height: 100%;
    max-width: 700px;
    color: var(--contrast-color);
    font-size: 1.1rem;
  }
  .navbar li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 9.375rem;
    cursor: pointer;
    border-top: 1px solid var(--primary-color);
    transition: border-top .3s ease-in-out;  
  }
  .navbar li:hover{
    border-top: 3px solid var(--secundary-color);
    transition: border-top .3s ease-in-out;  
  }
  .header img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
  }