.listContainer{
    margin: auto;
    width: 50%;
}

table{
    width: 100%;
    background-color: var(--bg-color);
}
thead{
    background-color: var(--primary-color);
    color: var(--contrast-color);
    height: 2rem;
    font-size: 1.2rem;
}
th{
   border: solid 1px black;
    height: 1.5rem;
}