.containerBookUnit{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    border-radius: 10px;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    overflow: hidden;
    margin: 0 10px;
    background-color: var(--container-bg-color);
}
.bookUnitImg,
.textContainerBookUnit{
    width: 90%;
}
.bookUnitImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}
.bookUnitImg img {
    width: 100%;
    height: auto;
}

.name{
    font-size: .95rem;
    font-weight: 500;
    line-height: 1.5;
}
.description{
    font-size: .75rem;
}